
#alphabet { 
	display: block; 
	color: #999;
	}

span.hint { 
	margin-right: 3px;
	}


#upper, #lower, #tones 	{ margin: auto; }
#upper td, #lower td, #tones td { text-align: center; }

#kbd { 	
	margin-left: 0; 
	}
#kbd table {
	margin:0;
	}
#kbd td {  
	margin: 0; 
	padding: 0; 
	padding-bottom: 3px; 
	text-align: left;
	font-size: 25px;
	cursor:pointer;
	vertical-align: top; 
	line-height: 1.4;
	}
#kbd td.hint {  
	font-size: 12px;
	color: #ccc;
	text-align: right;
	vertical-align: top;
	}
#kbd img {
	vertical-align: top;
	}


#kbd #independentvowels { 
	width: 80px; 
	border: dotted 1px #999; 
	text-align: right; 
	padding-right: 4px; 
	vertical-align: middle; 
	line-height: 1.4;
	}
/*
#kbd #combining { 
	margin-top: 10px; 
	width: 300px; 
	padding:5px 8px; 
	border: dotted 1px #999; 
	border-radius: 5px;
	
	border-collapse:collapse;
	margin-bottom: 10px;
	}
.combining { 
	text-align: left; 
	border-bottom: 1px dotted teal; 
	margin: 0 0 2px 0; 
	padding-left: 4px; 
	line-height: 1.8;
	}
.combining img { 
	margin-right: 10px; 
	}
#combining td { padding-right: 10px; } */

#symbols {
	line-height: 1.6;
	margin-top: 20px;
	}

#punctuation {
	text-align:right;
	}

#kbd #numbers {
	padding-left: 20px;
	}
#kbd #numbers td {	
	line-height: 1.6;
	}

#kbd #zwspcol {
	padding-left: 10px; 
	padding-right: 10px; 
	width: 28px; 
	vertical-align: middle;
	}

#symbols img { 
	margin-right: 5px; 
	}
#digits img { 
	margin-right: 4px; 
	}


#kbd .vowels {
	border: dotted 1px #999; 
	border-radius: 5px;
	margin: 20px 0;
	line-height: 1.8;
	}
#kbd .vowels div[0] {
	border-bottom: dotted 1px #999; 
	}
#kbd .combining { 
	border-top: dotted 1px #999; 
	margin-top: 10px;
	padding-top: 5px; 
	}



