[lang|="he"] {
	font-family: "Ezra SIL", "Times New Roman", "Narkisim", "New Peninim MT", "Noto Sans Hebrew", sans-serif;
	font-size: 20px;
	}
#index td {
	font-family: "Ezra SIL", "Times New Roman", "Narkisim", "New Peninim MT", "Noto Sans Hebrew", sans-serif;
	font-size: 28px;
	padding: 16px;
	text-align: left;
	}
	
#fontsetting {
	width: 270px;
	}
#fontsetting.open {
	right: 0px;
	}
#fontsetting.closed {
	right: -258px;
	}
#fontsettingswitch {
	height: 130px;
	}
	
	
.charimg {
	font-size: 130px;
	min-width: 190px;
	min-height: 190px;
	text-align: center;
	vertical-align: middle;
	line-height: 190px;
	font-family: "Ezra SIL", "Times New Roman", "Narkisim", "New Peninim MT", "Noto Sans Hebrew", sans-serif;
	background-color: white;
	}


#index td { text-align: right; }
