body { 
	margin: 0; 
	padding: 0; 
	background-color: white; 
	color: #666; 
	}
h1 { 
	margin-left: 10px; 
	padding-left: 0; 
	}
p, h2 { 
	margin-left: 10px; 
	}

table#converter { 
	border:0; 
	padding: 0; 
	margin-left: 1%; 
	width: 97%; 
	border-collapse:collapse;  
	}
table#converter td { 
	border: 0; 
	padding: 5px 0 0 0; 
	margin: 0; 
	text-align: left; 
	width: 43%;  
	}
textarea { 
	margin: 0; 
	padding: 0; 
	width: 99%; 
	background-color: #eceff5; 
	color:#000; 
	border: 1px solid white;  
	border-radius: 10px; 
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px;
	}
button { 
	font-size: 80%; 
	color: brown; 
	border: 1px solid #dbce99; 
	background-color: white; 
	cursor: pointer; 
	border-radius: 40px; 
	-moz-border-radius: 4px; 
	-webkit-border-radius: 4px;
	}
code { 
	font-size: 1em; 
	font-family: "Courier New", Courier, monospace; 
	color: brown; 
	}
.icon { 
	margin-left: 10px; 
	width: 20px; 
	height: 18px; 
	vertical-align: middle; 
	cursor:pointer; 
	}
.subversion { 
	font-size: 50%; 
	}
