@font-face {
    font-family: 'Aksara Bali WF';
    src: url('/webfonts/AksaraBaliwebfont.woff2') format('woff2'),
         url('/webfonts/AksaraBaliwebfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
    font-family: 'Noto Sans Balinese WF';
    src: url('/webfonts/NotoSansBalinese-Regular.woff2') format('woff2'),
         url('/webfonts/NotoSansBalinese-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}

#shape { display: none; }
#alphabet { display: block; }


.ex {
	font-family: 'Aksara Bali WF', 'Noto Sans Balinese WF', serif; }
	}
	
span.hint { margin-right: 2px; }


#alphabet img { 
	cursor: pointer; 
	}

#kbd { 	
	margin-left: 0; 
	}
#kbd table {
	margin:0;
	}
#kbd td {  
	margin: 0; 
	padding: 0; 
	padding-bottom: 3px; 
	text-align: left;
	font-size: 25px;
	cursor:pointer;
	vertical-align: top; 
	line-height: 1.5;
	}
#kbd td.hint {  
	font-size: 12px;
	color: #ccc;
	text-align: right;
	vertical-align: top;
	}
#kbd img {
	vertical-align: top;
	}


#kbd #predisposed { 
	width: 35px; 
	border: dotted 1px #999; 
	text-align: right; 
	padding-right: 4px; 
	vertical-align: middle; 
	}


#kbd #combining { 
	margin-top: 10px; 
	width: 210px; 
	padding:5px 8px; 
	border: dotted 1px #999; 
	border-radius: 5px;
	}

#punctuation {
	text-align:right;
	}

#kbd #numbers {
	padding-left: 20px;
	}

#kbd #zwspcol {
	padding-left: 20px; 
	}


td#independentvowels { width: 43px; text-align: right; padding-right: 4px; border-right: 1px dotted teal; vertical-align: middle; }
#consonants td {  padding: 0;  white-space: nowrap; }
#zwspcol { padding-left: 10px; padding-right: 10px; width: 28px; }

#combining { border-collapse:collapse; margin-top: 10px; margin-bottom: 10px; width: 300px; padding:5px; border: dotted 1px teal; }
#combining td { padding-right: 10px; }
#secondpanel { padding-left:20px; }
.combining { text-align: left; border-bottom: 1px dotted teal; margin: 0 0 2px 0; padding-left: 4px; }
.combining img { margin-right: 10px; }
#kbd #symbols img { margin-right: 5px; }
#kbd #digits img { margin-right: 4px; }

#kbd #vowelsigns { border: 1px dotted teal; margin-left: 10px;  padding: 5px; line-height: 2.2; font-size: 90%; }
#kbd #digits { border: 1px dotted teal; margin-top: 10px; margin-left: 10px; padding: 5px; }
#kbd #punctuation { margin-left: 10px; }


.uaplosives { white-space: nowrap; }
.aspiratedplosives { white-space: nowrap; }
.vowels{ padding: 5px; margin-bottom: 5px; width: 750px; border: 1px dotted teal; }




