<!doctype html>

<html lang="en-us">

<head>
<meta charset="utf-8">
<meta name="description"
  content="TEMPLATE">
<meta name="keywords"
  content="TEMPLATE">
<title>TEMPLATE</title>
<link rel="stylesheet" href="https://www.unicode.org/webscripts/standard_styles.css">
<link rel="stylesheet" href="html5_adjust.css">
<script src="boilerplate.js"></script>
<style>
</style>
</head>
<body onLoad="addBoilerplate()">
  <div id="top_boilerplate"></div>
  
  <!-- BEGIN CONTENTS -->
  <div class="pagecontents">

  <h1>Template Page Title</h1>

  <p>Template page content starts here.</p>

  <p>Make sure to adjust the title attribute and meta content and keywords strings in the head.</p>

  <p>Note that current template page uses a temporary, local html5_adjust.css to add in
    HTML5-appropriate style elements. This will need revision before HTML5 pages can be
    more widely deployed on the site.</p>

  <section id="level2sectiongoeshere">
  <h2>Template Page Subhead</h2>


  <p>Adjust the label and page for the top left of the top bar on the page as appropriate.</p>

  <section id="level3sectiongoeshere">
  <h3>Template Page Subsubhead</h3>

  <p>This template is usable for any page that does not need a navbar at the left. Most new pages
      should be done without navbars now.</p>

  <p>Tables should use one of the 3 standard tables styles defined in the standard_styles.css file
      included by all normal website pages. Use: simple, subtle, or subtle-nb. Table styles and
      other page elements can be adjusted further, but such use is not recommended, because it
      becomes difficult to maintain.</p>

  <p>End of page content panel.</p>
  </section>
  </section>

  <!-- END OF CONTENTS -->
  </div>

  <div id="bottom_boilerplate"></div>
</body>
</html>
