body {
	margin: 0;
	padding: 0;
    font-family: adobe-clean, 'Helvetica Neue', calibri, corbel, "Segoe UI", helvetica, sans-serif;
    font-size: 17px;
    font-weight: 300;
    line-height: 1.75;
	background-color: white;
	color: #666;
	text-align: justify;
	}

strong {
    font-family: 'Helvetica Neue',  "Segoe UI", sans-serif;
    font-weight: 400;
	color: #444;
	}


/* set margins */
p, h2, h3, h4, dl, div#footer, div.example, figure { margin-left: 7.5%; margin-right: 32%; }
ul, ol { margin-left: 9%; margin-right: 34%; }
ul ul { margin-left: 2%; margin-right: 5%; }
table { margin-left: 7.5%;  }
table.inband { margin-right: 32%; }
blockquote { margin-left: 11%; margin-right: 34%; }

li p { margin-left: 0; margin-right: 0; }
blockquote p { margin-left: 0; margin-right: 0; }
#footer p { margin-left: 0; margin-right: 0; }
.example p { margin-left: 0; margin-right: 0; }
.sidenote p { margin-left: 0; margin-right: 0; }
.example blockquote { margin-left: 1em; margin-right: 1em; }
dd p { margin-left: 0; margin-right: 0; }


/* structural code */


h1 {
	text-align: left;
	font-size: 45px;
	font-weight: 300;
	color: #005a9c;
	padding: 5px;
	padding-left: 10px;
	margin: 0;
	margin-top: 2em;
	margin-left: 6.5%;
	margin-right: 28%;
	line-height: 1.3;
	}

h2 {
	color: #005a9c;
	text-align: left;
	font-size: 123%;
	font-weight: 300;
	margin-top: 4em;
	margin-bottom: 1em;
	border-bottom: 1px solid #eee;
	text-transform: lowercase;
	}

h3 {
	text-align: left;
	font-size: 120%;
	font-weight: normal;
	margin-top: 4em;
	margin-bottom: 1em;
	border-bottom: 1px solid #eee;
	text-transform: lowercase;
	}

h2 a:link { 
	text-decoration: none;
	color: #005a9c;
	}
h2 a:visited { 
	color: #005a9c;
	text-decoration: none;
	}
h2 a:hover { 
	color: #005a9c;
	text-decoration: none; 
	}
h3 a:link { 
	color: gray; 
	text-decoration: none; 
	}
h3 a:visited { 
	color: gray; 
	text-decoration: none; 
	}

h2 + section > h3 {
	margin-top: 2em;
	}

	
.leadin { 
	font-weight: 500; 
	font-size: 100%;
	}
.leadin:link { 
	color: #c60; 
	text-decoration: none; 
	}
.leadin:visited { 
	color: #c60; 
	text-decoration: none; 
	}



#topbar {
	text-align: left;
	font-size: 180%;
	color: #005a9c;
	background-color: #eee;
	padding: 5px;
	padding-left: 10px;
	margin: 0;
	margin-right: 28%;
	line-height: 1.1;
	}


.sidebar {
	float: right;
	width: 28%;
	clear: right;
	text-align: left;
	text-align: start;
	}
#sidebar li {
	list-style-type: none;
	}
.sidebar h2 {
	margin-top: 2em;
	margin-left: 0;
	margin-right: 0;
	padding-left: 10px;
	}
.sidebar p {
	margin-left: 2em;
	margin-right: 1em; 
	line-height: 1.2em;
	}


#toc{ 
	margin-bottom: 1em; 
	}
.toc1 { 
	margin-left: 2em; 
	margin-right: 1em; 
	margin-bottom: 4px; 
	margin-top: 8px;
	line-height: 1.2;
	}
.toc2 { 
	margin-left: 2em; 
	margin-right: 1em; 
	font-size: 80%; 
	margin-bottom: 2px; 
	}



.sidenoteGroup {
	position: relative;
	width: 100%;
	}
.sidenote {
	position: absolute;
	top: 0;
	right: 2em;
	width: 24%;
	font-size: 80%;
	line-height: 1.2em;
	text-align: left;
	}


#line {
	position: absolute;
	left: 72%;
	top: 0;
	width: 10px;
	border-left: 2px dotted #005a9c;
	height: 30em;
	}
#line.compact {
	height: 14em;
	}
	
#picture {
	margin-top: 5em;
	margin-bottom: 3em;
	margin-left: 20px;
	display: block;
	}
#picture.compact {
	margin-top: 1em;
	margin-bottom: 0;
	}
	
	

#navigation {
	line-height: 150%;
	background-color: transparent;
	color: #555;
	font-weight: 500;
	margin-top: 3em;
	margin-bottom: 2em;
	text-transform: lowercase;
	}
#navigation p {
	margin-top: 0;
	margin-bottom: .25em;
	text-align: left;
	font-size: 90%;
	}


#site-navigation {
	float: right; 
	background-color: #fff;
	color: black;
	width: 28%;
	clear: right;
	padding-top: 1em;
	padding-bottom: 1em;
	}
#site-navigation a:link {
	color: black;
	}
#site-navigation a:hover {
	color: #005a9c;
	background-color: #003163; 
	}
#site-navigation a:visited {
	color: white;
	text-decoration: none;
	}
#site-navigation p {
	margin-left: 32px;
	margin-right: 1em; 
	margin-top: 0;
	margin-bottom: 0;
	}


#sitelinks {
	/* text-align: right;
	margin-left: 5.5%; */
	padding-left: 10px;
	margin-bottom: 5em;
	line-height: 24px;
	}
#sitelinks a {
	color: gray;
	}


div.up { 
	float: right; 
	margin-right: 32%; 
	margin-top: -5px; 
	}


address {
	font-style: normal;
	}
#author {
	font-size: 14px;
	margin-top: 5em;
	}
#author p {
	padding-top: 5px;
	padding-bottom: 5px;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	}
.smallprint {
	font-size: 12px;
	line-height: 1.3;
	}
.smallprint p { 
	margin-top: 5px;
	margin-bottom: 5px;
	}
#logos {
	float: right;
	margin-left: 1em;
	margin-top: .25em;
	}




/* inline */

a:link {
	color: teal;
	text-decoration: none;
	}
a:visited {
	color: teal;
	text-decoration: none;
	}
a:hover {
	color:  #005a9c;
	background: white;
	}

acronym {
	text-transform: capitalize;
	}
.kw {
	font-family: "Lucida Console", Monaco, monospace;
	color: #A52a2a;
	font-size: 14px;
	}
.button {
	font-family: "Lucida Console", Monaco, monospace;
	color: #A52a2a;
	font-size: 14px;
	border: 1px solid brown;
	border-radius: 5px;
	padding: 2px;
	white-space: pre;
	}
.newterm {
	font-weight: bold;
	}
.qchar {
	font-size: 110%;
	color: black;
	}
.uname {
	font-size: 85%;
	}
.qchar:before {
	content: '\27';
	font-style: normal;
	font-size: 100%;
	}
.qchar:after {
	content: '\27';
	font-style: normal;
	font-size: 100%;
	}
.uppercase {
	text-transform: uppercase;
	}
.uri {
	display: none;
	}
img {
	border: 0;
	}

[dir='ltr'], [dir='rtl'] { 
	unicode-bidi: -webkit-isolate;
	unicode-bidi: -moz-isolate;
	unicode-bidi: -ms-isolate;
	unicode-bidi: isolate;
	} 
bdo[dir='ltr'], bdo[dir='rtl'] {
	unicode-bidi: bidi-override; 
	unicode-bidi: -webkit-isolate-override; 
	unicode-bidi: -moz-isolate-override; 
	unicode-bidi: -ms-isolate-override; 
	unicode-bidi: isolate-override;
  	}



/* block elements */



blockquote {
	text-align: left;
	}
pre {
	line-height: 1.3;
	}


dt {
	font-weight: bold;
	margin-top: 1em;
	}

figure { 
	margin-left: 10%; 
	margin-right: 30%; 
	text-align: center; 
	margin-bottom: 5px;  
	}
figure table { 
	margin: auto; 
	}
figure p { 
	text-align: start; 
	margin-right: 10%;  
	margin-bottom: 5px; 
	line-height: 1.4em; 
	}
figcaption { 
	font-style: italic; 
	text-align: center; 
	margin-bottom: 50px; 
	font-size: 90%;
	}


table, td, th {
	font-size: 1em;
	text-align: left;
	text-align: start;
	}
table.inband {
	margin-top: 1em;
	margin-bottom: 1em;
	}
table td { 
	border: 1px solid teal; 
	vertical-align: top; 
	text-align: center; 
	border-collapse: collapse; 
	font-family: 'Helvetica Neue', Verdana, helvetica, "Segoe UI", sans-serif; 
	}
table th { 
	font-size: 80%; 
	text-align: right;
	padding: 4px;
	}
table.inband td {
	text-align: left;
	vertical-align: top;
	border: 1px solid #000066;
	padding: 0.2em;
	}
table.inband th {
	text-align: left;
	vertical-align: top;
	border: 1px solid #000066;
	font-weight: bold;
	padding: 0.2em;
	background-color: #f9f5de; 
	}





/* other */

.hide {
	display: none;
	}

.new {
	color:red; 
	background:yellow; 
	box-shadow: 3px 3px 5px #888; 
	padding: 1px 10px 1px 15px; 
	border-radius: 10px; 
	margin-left: 10px;
	}


.hidden { display:none; }
.collapsingList li { 
	position:relative;
	border-bottom: 1px solid white;
	}
.collapsingList p {
	margin:0;
	margin-bottom: 5px;
	}
.collapsingList .hidden { 
	position: absolute;
	top: -20px;
	left: 50%;
	width: 60%;
	font-size: 80%;
	line-height: 1.2em;
	text-align: left;
	z-index:1000;

	background-color:#ffe; 
	border: 1px solid #CCC; 
	box-shadow: 7px 7px 5px #888; 
	padding: 5px 10px 5px 15px; 
	border-radius: 10px; 
	}
.collapsingList li:hover {
	/*border-radius: 10px; 
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px;
	border-bottom: 1px solid #CCC;*/
	}
.collapsingList li:hover .hidden { display:block; }

@media handheld {
.collapsingList li:after { content: 'info'; color: #CCC; }
	}


@media print {

/* ***********  PRINTING ****************** */

body {
	font-size: 85%;
	}
.noprint {
	display: none;
	}

}

#blogposts ul { margin: 10px 10px 10px 0; }
#blogposts li { margin: 0; padding: 0; margin-bottom: 8px;  }