@font-face { 
	font-family: 'Khmer OS Battambang WF'; 
	font-style: normal; 
	font-weight: normal; 
	src: url('/webfonts/khmerosbbangw.woff'); 
	} 
@font-face { 
	font-family: 'Noto Sans Khmer WF'; 
	font-style: normal; 
	font-weight: normal; 
	src: url('/webfonts/notosanskhmer-regularwebfont.woff2'); 
	src: url('/webfonts/notosanskhmer-regularwebfont.woff'); 
	} 

#shape { display: none; }
#rare { display:none; }
#alphabet { display: block; }
#phonelist { display: none; }
#fontgrid { display: none; }


#kbd td.fullchar { text-align: right; }
#kbd td.subjoinedchar { text-align: left; }


#alphabet { 
	/*padding-left: 10px; 
	padding-right: 5px; */
	}
#alphabet img { 
	cursor: pointer; 
	}

#kbd { 	
	margin-left: 0; 
	}
#kbd table {
	margin:0;
	}
#kbd td {  
	margin: 0; 
	padding: 0; 
	padding-bottom: 3px; 
	text-align: left;
	font-family: "Khmer OS Battambang", "Noto Serif Khmer", sans-serif;
	font-size: 25px;
	cursor:pointer;
	vertical-align: top; 
	line-height: 1.6;
	color:#999;
	}
#kbd td.hint {  
	font-size: 12px;
	color: #ccc;
	text-align: right;
	vertical-align: top;
	}

#kbd #misc {
	padding-left: 10px;
	}

#kbd #closediacritics { 
	text-align: center; 
	padding: 2px; 
	}
#kbd #closediacritics span { 
	padding: 0 5px;
	}
#kbd #closediacritics #cd1 { 
	margin-top: 40px;
	border: dotted 1px #ccc; 
	border-radius: 10px; 
	padding: 10px 5px;
	line-height: 2;
	}
#kbd #closediacritics #cd2 span { 
	margin-top: 20px;
	border: dotted 1px #ccc; 
	border-radius: 10px; 
	padding: 10px 5px;
	line-height: 2;
	}
#kbd #closediacritics #cd2 { 
	margin-top: 20px;
	}

#combining { 
	margin-top: 10px; 
	padding:5px 8px; 
	border: dotted 1px #ccc; 
	border-radius: 5px;
	line-height: 1.8;
	}
.p {
	padding: 0 5px;
	}

#punctuation {
	text-align:left;
	}

#kbd #zwspcol {
	padding-left: 10px; 
	}

#rarestuff {
	color:#999;
	}
#deprecated { border: 2px solid #DDDDDD;  }
#deprecated div { background-color:#DDDDDD;  }



#phonic, #phonic2 { padding-left: 5px; padding-right: 5px; font-size: 15px; font-family: "Doulos SIL", sans-serif; }
#phonic span, #phonic2 span { cursor:pointer; }
.phonicspaces { padding-left: 10px; padding-right: 10px; width: 28px; }
.uaplosives { white-space: nowrap; }
.aspiratedplosives { white-space: nowrap; }
.kbd td { vertical-align: top; }
.vowels{ vertical-align: top; padding: 5px; margin-bottom: 5px; width: 750px; border: dotted 1px teal; }

.sound {font-size: 130%; font-family: "Doulos SIL", "Charis SIL", Gentium, serif; color: #FF3333; cursor: default; white-space: nowrap; margin-right: 7px; }
.sound span {font-size: 110%; font-family: "Doulos SIL", "Charis SIL", Gentium, serif; color: #FFF; cursor: default;  margin-right: 5px; background-color: #bbb; padding: 1px; padding-left:2px; background-image: url(images/topcorner.png); background-repeat:no-repeat; }
.vowels .sound { color: #FF3333; }
.vowels img {vertical-align: top; }
.ph { border:0; }
.soundselector { margin-bottom: 6px; line-height: 40px; }
.soundselector img { margin-right: 5px; vertical-align: top; }
.soundselector span { display:inline; }
.soundselector img[title='+'] { height: 40px; }



#shape { padding-left: 5px; padding-right: 5px; margin: 20px; }
#shape li, #shape span, #shape img { border: 0; }
#shape ul { margin:0; padding:0; }
#shape span, #shape img { cursor:pointer; }
/*#shape img.noOnclick { position: relative; z-index: 500; }*/
.hidden { display:none; }
.shapelist { margin-bottom: 10px; }
.shapelist li { 
	position:relative;
	/*border-bottom: 1px solid white;*/
	list-style-type: none;
	display: inline; 
	line-height: 36px;
	/*border: 1px solid #ccc;*/
	}
.shapelist .hidden { 
	position: absolute;
	top: 99%;
	left: -20px;
	width: 500px;
	font-size: 20px;
	line-height: 1.2em;
	text-align: center;
	z-index:1000;

	background-color:white; 
	border: 1px solid #CCC; 
	-o-box-shadow: 7px 7px 5px #888;
	-icab-box-shadow: 7px 7px 5px #888;
	-khtml-box-shadow: 7px 7px 5px #888;
	-moz-box-shadow: 7px 7px 5px #ccc;
	-webkit-box-shadow: 7px 7px 5px #ccc;
	box-shadow: 7px 7px 5px #888; 
	padding: 5px 5px 5px 5px; 
	border-radius: 10px; 
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px;
	}

.shapelist li:hover .hidden { display:block; }
.shapelist li:hover .hidden img { display:inline; }

.shapelist span {  font-family: 'doulos sil', gentiumplus, code2000, serif; font-size:26px; line-height: 1.2em; }
#shape li {  padding-bottom:5px; }



/*
form#buttonform { margin: 0; padding: 0; border: 0;  line-height: normal; }
dt { color: #FF6600; }



#zwspcol { padding-left: 10px; padding-right: 10px; width: 28px; }

#alphabet { padding-left: 5px; padding-right: 5px; }
#secondpanel { padding-left:20px; }
#subscripts td { margin: 0; padding: 0;  padding-bottom: 3px;  }
#subscripts, #consonants { border-collapse:collapse; }

#alpharare { width: 100px;}
#deprecated { border: 2px solid #DDDDDD;  }
#deprecated div { background-color:#DDDDDD;  }
#alphaobsolete { border: 2px solid #DDDDDD;  }
#alphaobsolete div { background-color:#DDDDDD;  }
*/