body { font: 19.5px/1.45 "Source Sans Pro","Helvetica Neue",Arial,sans-serif; -moz-osx-font-smoothing: grayscale; background-color: #f8f7f3; } 
#banner { height: 10em; width: 100%; background-color: #706B63; display: flex; align-items: center; border-top-left-radius: .5em; border-top-right-radius: .5em; }
#pagetitle { font-size: 280%; margin: auto; color: rgb(248, 247, 243); line-height: .8; }
#bannerdates { font-size: 53%; text-align: center; }
#subbanner { background-color: #D1CAB0; height: 2.5em; text-align: center; text-transform: uppercase; color: rgb(83, 77, 70); font-size: 90%; display: flex; align-items: center; }
#subbanner div { margin: auto; }
#subsubbanner, #subsubsubbanner { background-color: #dedcd6; border-bottom: 1px solid #ddd; text-align: center; text-transform: uppercase; color: rgb(83, 77, 70); font-size: 90%; display: flex; align-items: center; padding: 0.5em; }
#subsubsubbanner { background-color: #f8f7f3; }
#subsubbanner div, #subsubsubbanner div { margin: auto; }
#in { display: none; }
.dateAndRecord { display: flex; flex-flow: row nowrap; }
.recordTitle { color: #648200; font-size: 130%; font-weight: 400; }
.record { flex: 6; background-color: #fff; border: 1px solid #ccc; border-radius: 5px; margin: .7em; padding: .8em; }
.record p { margin: 0 0 0.5em 0; padding: 0; }
.record p:last-of-type { margin: 0; padding: 0; }
.recordDate { height: 70px; width: 70px; border-radius: 50%; background-color: #60527E; text-align:center; color: white; font-size: 1em; margin: 1em;}
.recordDate { display: flex; flex-flow: column nowrap; align-items: center; line-height: .9; }
.recordDate span:first-of-type { font-size: 140%; margin-top:5px; }
.other { background-color: #F0eee9; }
summary { font-size: 90%; text-align: end; cursor: pointer; }
details pre { font-size: 80%; white-space: pre-wrap; }
textarea { width: 90%; height: 100px; }
.marriage { border-color: red; border-width: 2px; }
.death { border-color: black; border-width: 2px; }
.familydeath { border-color: black; border-width: 1px; background-color: #F0eee9; }
.footnotes { font-size: 80%; }
.footnotes p { margin-top: 1em; }
.footnotes ol { margin-top: 0; margin-bottom: 0; }
a { color: rgba(183,117,0,1.00); color: #648200; text-decoration: none; }