@font-face {
    font-family: 'Noto Sans Tifinagh WF';
    src: url('/webfonts/NotoSansTifinagh-Regularwebfont.woff2') format('woff2'),
         url('/webfonts/NotoSansTifinagh-Regularwebfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}

:lang(ta) { font-family: "Hapax Berbère", "Noto Sans Tifinagh","Noto Sans Tifinagh WF", "Ebrima", "Tifinaghe-ircam Unicode", serif; font-size: 130%; }

#index td { font-family: "Hapax Berbère", "Noto Sans Tifinagh","Noto Sans Tifinagh WF", "Ebrima", "Tifinaghe-ircam Unicode", serif; font-size: 26px; padding: 16px; text-align:left;  }


#fontsetting { width: 270px; }
#fontsetting.open { right: 0px; }
#fontsetting.closed { right: -258px; }
#fontsettingswitch { height: 130px; }

.charimg {
	font-size: 130px;
	min-width: 190px;
	min-height: 190px;
	text-align: center;
	vertical-align: middle;
	line-height: 190px;
	font-family: "Hapax Berbère", "Noto Sans Tifinagh","Noto Sans Tifinagh WF", "Ebrima", "Tifinaghe-ircam Unicode", sans-serif;
	background-color: white;
}


