@font-face {
    font-family: 'Noto Sans Balinese WF';
    src: url('/webfonts/notosansbalinese-regularwebfont.woff2') format('woff2'),
         url('/webfonts/notosansbalinese-regularwebfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}

:lang(ban) {
	font-family: 'aksara bali',  'noto sans balinese wf', 'noto sans balinese',serif;
	}
#charlistsection img { vertical-align: top; }
#charlistsection p { line-height: 1.2; margin-top:0;  margin-bottom: 0; font-style: italic; }
.character { margin-left: 7%; margin-right: 28%; }

a img { vertical-align:middle; }
img.ex { vertical-align: middle; }
