@font-face {
	font-family: 'Noto Sans Ethiopic WF';
	src: 	local('Noto Sans Ethiopic'),  
			url('/webfonts/NotoSansDevanagari-Regularwebfont.woff2') format('woff2'),  
			url('/webfonts/NotoSansDevanagari-Regularwebfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	}
	
[lang|="am"] {
	font-family: "Nyala", "Kefa", "Noto Sans Ethiopic", "Noto Sans Ethiopic WF", "Droid Sans Ethiopic", sans-serif;
	font-size: 28px;
	}
#index td {
	font-family: "Nyala", "Kefa", "Noto Sans Ethiopic", "Noto Sans Ethiopic WF", "Droid Sans Ethiopic", sans-serif;
	font-size: 28px;
	padding: 16px;
	text-align: left;
	}
	
#fontsetting {
	width: 270px;
	}
#fontsetting.open {
	right: 0px;
	}
#fontsetting.closed {
	right: -258px;
	}
#fontsettingswitch {
	height: 130px;
	}
	
	
.charimg {
	font-size: 130px;
	min-width: 190px;
	min-height: 190px;
	text-align: center;
	vertical-align: middle;
	line-height: 190px;
	font-family: "Nyala", "Kefa", "Noto Sans Ethiopic", "Noto Sans Ethiopic WF", "Droid Sans Ethiopic", sans-serif;
	background-color: white;
	}
