@font-face {
    font-family: 'Noto Sans Malayalam WF';
    src: url('/webfonts/NotoSansMalayalamUI-Regularwebfont.woff2') format('woff2'),
         url('/webfonts/NotoSansMalayalamUI-Regularwebfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}

#alphabet { 
	display: block; 
	color: #999;
	}

span.hint { 
	margin-right: 3px;
	}


#kbd { 	
	margin-left: 0; 
	}
#kbd table {
	margin:0;
	}
#kbd td {  
	margin: 0; 
	padding: 0; 
	padding-bottom: 3px; 
	text-align: left;
	font-size: 25px;
	cursor:pointer;
	vertical-align: top; 
	line-height: 1.4;
	}
#kbd td.hint {  
	font-size: 12px;
	color: #ccc;
	text-align: right;
	vertical-align: top;
	}
#kbd img {
	vertical-align: top;
	}


#consonants td {  padding: 0;  white-space: nowrap; }

#combining { border-collapse:collapse; margin-top: 10px; margin-bottom: 10px; width: 300px; padding:5px; border: solid 1px #ccc; border-radius: 10px; }
#combining td { padding-right: 10px; }
#chillus { padding-left: 10px; }
#kbd #secondpanel { padding-left:20px; }

.phonicspaces { padding-left: 10px; padding-right: 10px; width: 28px; }
.uaplosives { white-space: nowrap; }
.aspiratedplosives { white-space: nowrap; }
.vowels{ padding: 5px; margin-bottom: 5px; width: 750px; }


#kbd #numbers  {  padding: 5px; border: solid 1px #ccc; border-radius: 10px; }
