.viewmenu { margin-bottom:10px; margin-left:6%; position:relative; z-index:4000;}
ul#css3menu { margin:0; list-style:none; padding:0; display:block; position:absolute; z-index:1100; left:10px; top:10px;}
ul#css3menu ul{ margin:0; list-style:none; padding:0; display:none; position:absolute; left:-1px; top:98%;  }
ul#css3menu ul ul{ margin:0; list-style:none; padding:0; display:none; position:absolute; left:40px; top:98%;  }
ul#css3menu li:hover>*{ display:block;}
ul#css3menu li:hover{ position:relative;}
ul#css3menu li{	display:block; white-space:nowrap; font-size:0; float:left; vertical-align:bottom; }
ul#css3menu a{ display:block; cursor:pointer; }

ul#css3menu { background-color: #eee; font-size:0;  border-radius:6px;}
ul#css3menu ul{ background-color: #eee; border:1px solid #5f5f5f; border:1px solid #ddd; border-radius:6px; 
	*-moz-box-shadow:3.5px 4px 5px #000000;-webkit-box-shadow:3.5px 4px 5px #000000;box-shadow:3.5px 4px 5px #000000;
	padding:0 5px 5px;
	border-color:#d4d4d4;}
ul#css3menu>li,ul#css3menu li{ margin:0;}
/* ul#css3menu ul ul{ 	position:absolute;left:98%;top:-2px;} */
ul#css3menu a:active, ul#css3menu a:focus{ outline-style:none;}
ul#css3menu a{ 	vertical-align:bottom;text-align:left;text-decoration:none;font:normal 14px Arial;color:#999; padding:10px;background-color:#eee; border-width:0 0 0 1px;border-style:solid;border-color:#eee; padding:10px 10px; border-radius: 6px; }
ul#css3menu ul li{
	float:none;margin:10px 0 0;}
ul#css3menu ul a{
	text-align:left; padding:4px;background-color:#eee;border-width:0;font:14px Arial;color:#999;text-decoration:none;}
ul#css3menu li:hover>a{
	background-color:#f8ac00;background-color:teal;border-color:#C0C0C0;border-color:teal;border-style:solid; font:normal 14px Arial; color:#ddd; text-decoration:none; }
ul#css3menu img{
	border:none;vertical-align:bottom;margin-right:20px;width:16px;height:16px;}
ul#css3menu ul img{
	width:16px;height:16px;}
ul#css3menu img.over{
	display:none;}
ul#css3menu li:hover > a img.def{
	display:none;}
ul#css3menu li:hover > a img.over{
	display:inline;}
ul#css3menu span{
	display:block;overflow:visible;background-position:right center;background-repeat:no-repeat;padding-right:0px;}
ul#css3menu ul li:hover>a{
	background-color:#FFFFFF;background-image:none;font:14px Arial;color:#868686;text-decoration:none; border-radius: 6px; }
ul#css3menu li.topfirst>a{
	border-radius:6px 0 0 6px;}
ul#css3menu li.toplast>a{
	border-radius:0 6px 6px 0;}
