body { font-family: Helvetica, Arial, sans-serif; }
a:link { color: teal; text-decoration: none; }
a:visited { color: teal; text-decoration: none; }
td { vertical-align: top; text-align: left; padding: 10px; }
h2 { color: #ca6528; font-weight: normal; }
p { margin: 0 0 4px 0; }
