@font-face {
    font-family: 'Noto Sans Mongolian WF';
    src: 	url('/webfonts/notosansmongolian-regular-webfont.woff2') format('woff2'),
         	url('/webfonts/notosansmongolian-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}

[lang|="mn"] {
	font-family: "Mongolian White", "Mongolian Baiti", "Noto Sans Mongolian", "Noto Sans Mongolian WF", sans-serif;
	font-size: 30px;
}
#index td {
	font-family: "Mongolian White", "Mongolian Baiti", "Noto Sans Mongolian", "Noto Sans Mongolian WF", sans-serif;
	font-size: 26px;
	padding: 16px;
	text-align: left;
}

img { 
	vertical-align: top;
	}
img.conflict { border: 3px solid red; border: 3px solid brown; }
img.fconflict { border: 3px solid orange; }
img.okdiff { border: 3px solid #6F9; }

#fontsetting { width: 270px; }
#fontsetting.open { right: 0px; }
#fontsetting.closed { right: -258px; }
#fontsettingswitch { height: 130px; }

.charimg {
	font-size: 130px;
	min-width: 190px;
	min-height: 190px;
	text-align: center;
	vertical-align: middle;
	line-height: 190px;
	font-family: "Mongolian White", "Mongolian Baiti", "Noto Sans Mongolian", "Noto Sans Mongolian WF", sans-serif;
	background-color: white;
	-moz-writing-mode: vertical-lr;
	writing-mode: vertical-lr;
	-webkit-writing-mode: vertical-lr;
	-o-writing-mode: vertical-lr;
	-ms-writing-mode: tb-lr;
	writing-mode: tb-lr;
	-webkit-text-orientation: sideways-right;
	}


.forms {  margin-bottom: 10px; -webkit-writing-mode: vertical-lr; }
.forms td:lang(mn) { font-family: "Mongolian White", 'Mongolian Baiti', 'Noto Sans Mongolian', noto_sans_mongolian, serif; font-size: 36px; line-height: 36px;}
.forms td { 	
	-moz-writing-mode: vertical-lr;
	writing-mode: vertical-lr;
	-webkit-writing-mode: vertical-lr;
	-o-writing-mode: vertical-lr;
	-ms-writing-mode: tb-lr;
	writing-mode: tb-lr;
	-webkit-text-orientation: sideways-right; 
	border: 1px solid #ccc;
	}
.forms th:lang(mn) { font-size: 10px; font-weight:normal; color:gray; text-align:left; }
.forms th { text-align:center; }

.syllables {  
	-moz-writing-mode: vertical-lr; 
	-moz-writing-mode: vertical-lr;
	writing-mode: vertical-lr;
	-webkit-writing-mode: vertical-lr;
	-o-writing-mode: vertical-lr;
	-ms-writing-mode: tb-lr;
	writing-mode: tb-lr;
	-webkit-text-orientation: sideways-right; 
	}
.syllables td { width: 3em; text-align: center; vertical-align: middle; border: 0; }
.syllables td span:lang(mn) { 	
	font-family: 'Mongolian White', 'Mongolian Writing', 'Mongolian Baiti', noto_sans_mongolian, serif; 
	font-size: 30px;
	}
.syllables th { 
	-webkit-writing-mode: horizontal-tb;	
	writing-mode: horizontal-tb;
	-webkit-text-orientation: upright; 
	font-family: 'Doulos SIL', Arial, sans-serif; 
	font-size: 20px; 
	font-weight: normal; 
	}
.syllables td span[title] { color:gray; }

#fontsetting { width: 250px; }
#fontsetting.open { right: 0px; }
#fontsetting.closed { right: -238px; }
#fontsettingswitch { height: 200px; }

.smallnotes { font-size: 80%; line-height: 1.4; }

.syllables .black { color: #ccc; }

td.vright, th.vright {
	width: 10em;
	text-align: left;
	padding-left: 20px;
	}
.syllables1 {	-moz-writing-mode: vertical-lr; 
	-moz-writing-mode: vertical-lr;
	writing-mode: vertical-lr;
	-webkit-writing-mode: vertical-lr;
	-o-writing-mode: vertical-lr;
	-ms-writing-mode: tb-lr;
	writing-mode: tb-lr;
	-webkit-text-orientation: sideways-right; 
}
.syllables2 {	-moz-writing-mode: vertical-lr; 
	-moz-writing-mode: vertical-lr;
	writing-mode: vertical-lr;
	-webkit-writing-mode: vertical-lr;
	-o-writing-mode: vertical-lr;
	-ms-writing-mode: tb-lr;
	writing-mode: tb-lr;
	-webkit-text-orientation: sideways-right; 
}


table.formtable { clear: both; }
table td { background-color: white; }
table.formtable td[lang='mn'] { color: black;
	-moz-writing-mode: vertical-lr;
	writing-mode: vertical-lr;
	-webkit-writing-mode: vertical-lr;
	-o-writing-mode: vertical-lr;
	-ms-writing-mode: tb-lr;
	writing-mode: tb-lr;
	-webkit-text-orientation: sideways-right;  
	font-size: 40px;
	background-color: #FDFADF;
	padding: 8px;
	}
.gap { border: 0px; width: 10px; background-color: #FDFADF;}
.conflict { background-color: red; background-color: brown; color: white; font-weight: 500; }
.fconflict { background-color: #F6A355; color: white; font-weight: 500; }
.okdiff { background-color: #6F9; color: gray; font-weight: 500; }
.notes ul, .notes ol { margin-right: 30px; }
