@font-face {
    font-family: 'notosansmyanmarWF';
    src: url('/webfonts/notosansmyanmar-regularwf.woff2') format('woff2'),
         url('/webfonts/notosansmyanmar-regularwf.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
    font-family: 'myanmar3WF';
    src: url('/webfonts/mm3-multiwf.woff2') format('woff2'),
         url('/webfonts/mm3-multiwf.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
    font-family: 'tharlonWF';
    src: url('/webfonts/tharlon-regularwf.woff2') format('woff2'),
         url('/webfonts/tharlon-regularwf.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}


#charlistsection img { vertical-align: top; }
#charlistsection p { line-height: 1.2em; margin-top:0;  margin-bottom: 0; font-style: italic; }
.character { margin-left: 7%; margin-right: 28%; }

.choices .ex { font-size: 200%; }
.choices .uname { font-size: 70%; }
.choices th { text-align: center; }
.choices td { padding: 10px 10px 0 10px; }

#alphabet { margin-left: 7.5%; width: 60%; }
#alphabet th { font-weight:normal; width: 15%; vertical-align: top;  }
#alphabet td { text-align: left; padding-left: 10px; }
 
#voweltable { margin: 0; }
#voweltable td { border:0; padding-left: 0;  padding-bottom: 0; padding-right: 10px; }
#openvowels td { padding: 10px; text-align: left; }
#openvowels th { text-align: center; }
#nasalvowels td { padding: 10px; text-align: left; }
#stoppedvowels td { padding: 10px; text-align: left; }
#nasalvowels tr.th td { text-align: center; }
#stoppedvowels tr.th td { text-align: center; }

#charlistsection img { margin-right: 8px; }




[lang|='my'] { font-family: myanmar3WF,tharlonWF,notosansmyanmarWF, Myanmar3, "Tharlon", 'Noto Sans Myanmar',Padauk, mm3, "Myanmar Text", "Myanmar Sangam MN", sans-serif; font-size: 22px; font-weight:400; }

#index td { font-family: myanmar3WF,tharlonWF,notosansmyanmarWF, Myanmar3, "Tharlon", 'Noto Sans Myanmar', Padauk, mm3, "Myanmar Text", "Myanmar Sangam MN", sans-serif; font-size: 26px; padding: 16px; text-align:left;  }

#fontsetting { width: 270px; }
#fontsetting.open { right: 0px; }
#fontsetting.closed { right: -258px; }
#fontsettingswitch { height: 130px; }


#rhymes th { font-family: myanmar3, sans-serif; }
#rhymes td { text-align:center; font-family: "doulos sil", 'gentium plus', serif; border: 0; min-width: 30px; }
#rhymes .notone { background-color: #eee; }
#rhymes .tone { color: #777; }
#rhymes .sectionstart { border-left: 3px solid #eee; }


span.ipa { font-family: 'gentium plus', 'doulos sil', 'myanmaripa', serif; }