@font-face {
	font-family: 'Noto Sans Bengali WF';
	src: 	local('Noto Sans Bengali'),
			url('/webfonts/NotoSansBengali-Regularwebfont.woff2') format('woff2'),  
			url('/webfonts/NotoSansBengali-Regularwebfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	}

[lang|="bn"] { font-family: SolaimanLipi, Likhan, "Bangla Sangam MN", "Shonar Bangla", "Vrinda", "Lohit Bengali", "Noto Sans Bengali", "Arial Unicode MS", sans-serif; font-size: 150%; }

#index td { font-family: SolaimanLipi, Likhan, "Bangla Sangam MN", "Shonar Bangla", "Vrinda", "Lohit Bengali", "Noto Sans Bengali", "Arial Unicode MS", serif; font-size: 26px; padding: 16px; text-align:left;  }



#fontsetting { width: 270px; }
#fontsetting.open { right: 0px; }
#fontsetting.closed { right: -258px; }
#fontsettingswitch { height: 130px; }


.charimg {
	font-size: 110px;
	min-width: 190px;
	min-height: 190px;
	text-align: center;
	vertical-align: middle;
	line-height: 190px;
	font-family: "Lohit Bengali", "SolaimanLipi", "Bangla MN", "Bangla Sangam MN", "Noto Sans Bengali", sans-serif;
	background-color: white;
}


