@font-face {
    font-family: 'Scheherazade WF';
    src: url('/webfonts/scheherazaderegotwebfont.woff2') format('woff2'),
         url('/webfonts/scheherazaderegotwebfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}


#alphabet { display: block; }

#alphabet td.hint {  
	font-size: 14px;
	color: #ccc;
	text-align: left;
	text-align: end;
	vertical-align: top;
	}
	
#kbd { 	
	margin-left: 0; 
	}
#kbd table {
	margin:0;
	}
	
#kbd td {  
	margin: 0; 
	padding: 0; 
	padding-bottom: 3px; 
	text-align: right;
	text-align: start;
	cursor:pointer;
	vertical-align: top; 
	line-height: 1.1;
	}
#kbd img {
	vertical-align: top;
	}

#kbd #vowels .hint {
	padding-left: 10px; 
	}

#kbd #numbers {
	padding-left: 20px;
	}
#kbd #numbers img {
	vertical-align: top;
	}

#kbd #punctuation {
	padding-left: 20px;
	}
#kbd #punctuation td {
	min-width: 30px;
	}




