@font-face {
    font-family: 'Scheherazade WF';
    		src: local('Scheherazade'),
			url('/webfonts/scheherazaderegotwebfont.woff2') format('woff2'),
         	url('/webfonts/scheherazaderegotwebfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
    font-family: 'Nafees Nastaliq WF';
    		src: local('Nafees'),
			local ('Nafees Nastaleeq'),
			url('/webfonts/NafeesNastaleeq.woff') format('woff2');
    font-weight: normal;
    font-style: normal;
	}

[lang|='ar'] { 
	font-family: "Scheherazade WF", "Al Bayan", "Arabic Typesetting", "Traditional Arabic", "Noto Naskh Arabic", sans-serif; 
	font-size: 26px; 
	}
[lang|='ur'] { 
	font-family: "Nafees Nastaleeq WF", "Urdu Typesetting", "Aldhabi", "Scheherazade", sans-serif; 
	font-size: 20px; 
	}

#index td { 
	font-family: "Noto Naskh Arabic", "Scheherazade WF", "Al Bayan", "Arabic Typesetting", "Traditional Arabic", sans-serif; 
	font-size: 26px; 
	padding: 8px;  
	direction: rtl; 
	text-align: right; 
	line-height: 1.4em; 
	}

.charimg { 
	font-size: 130px; 
	min-width: 190px; 
	min-height: 190px; 
	text-align: center; 
	vertical-align: middle; 
	line-height: 190px; 
	font-family: "Noto Naskh Arabic", "Scheherazade", "Al Bayan", "Arabic Typesetting", "Traditional Arabic", sans-serif; 
	background-color: white; 
	}

#fontsetting { width: 250px; }
#fontsetting.open { right: 0px; }
#fontsetting.closed { right: -238px; }
#fontsettingswitch { height: 150px; }
#fontsetting p { margin-right: 20px; }

