@font-face {
    font-family: 'Noto Sans Tamil WF';
    src: url('/webfonts/notosanstamil-regularwebfont.woff2') format('woff2'),
         url('/webfonts/notosanstamil-regularwebfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}

:lang(ta) { font-family: InaiMathi, "Tamil MN", "Latha", "Noto Sans Tamil", "Noto Sans Tamil WF", "Droid Sans Tamil", "Lohit Tamil", serif; font-size: 130%; }

#index td { font-family: InaiMathi, "Tamil MN", "Latha", "Noto Sans Tamil", "Noto Sans Tamil WF", "Droid Sans Tamil", "Lohit Tamil", serif; font-size: 26px; padding: 16px; text-align:left;  }


#fontsetting { width: 270px; }
#fontsetting.open { right: 0px; }
#fontsetting.closed { right: -258px; }
#fontsettingswitch { height: 130px; }

.charimg {
	font-size: 130px;
	min-width: 190px;
	min-height: 190px;
	text-align: center;
	vertical-align: middle;
	line-height: 190px;
	font-family: "Noto Sans Tamil", "Tamil MN", InaiMathi, Latha, sans-serif;
	background-color: white;
}

