.tb-rl { writing-mode: tb-rl; writing-mode: vertical-rl; -webkit-writing-mode: vertical-rl; max-height: 640px; }
.lr-tb { writing-mode: lr-tb; writing-mode: horizontal-lr; -webkit-writing-mode: horizontal-lr; }
.tatechuyoko { writing-mode: lr-tb; writing-mode: horizontal-lr; -webkit-writing-mode: horizontal-lr; text-align:center; }


#features table td {
	text-align: left;
	padding: 0 5px;
	font-size: 100%;
	line-height: 1.5;
	}
#features table th {
	font-weight: 400;
	}
#features table {
	margin: 0;
	}

#features a { font-size: 110%; font-weight:normal; }
#features a:link { color: #F96; }
#features a:active { color: #F96; }
#features a:hover { color: #F96; }
#features a:visited { color: #F96; }

/*#freeText p { margin-top: 40px; }*/

#picture {
	margin-top: 2em;
	}

.characters h3 { margin-top: 2em; }


#fontcontrols { font-size: 12px; }
#fontcontrols form { display: inline; }

#fontsetting { width: 270px; }
#fontsetting.open { right: 0px; }
#fontsetting.closed { right: -258px; }
#fontsettingswitch { height: 130px; }
