@font-face {
    font-family: 'Noto Sans Lisu WF';
    src: 	local ('Noto Sans Lisu'),
			url('/webfonts/NotoSansLisu-Regularwebfont.woff2') format('woff2'),
         	url('/webfonts/NotoSansLisu-Regularwebfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}

[lang|="lis"] {
	font-family:"Lisu Tzimu",  "Noto Sans Lisu WF", sans-serif;
	font-size: 20px;
}
#index td {
	font-family: "Lisu Tzimu", "Noto Sans Lisu WF", sans-serif;
	font-size: 26px;
	padding: 16px;
	text-align: left;
}

#fontsetting { width: 270px; }
#fontsetting.open { right: 0px; }
#fontsetting.closed { right: -258px; }
#fontsettingswitch { height: 130px; }

.charimg {
	font-size: 130px;
	min-width: 190px;
	min-height: 190px;
	text-align: center;
	vertical-align: middle;
	line-height: 190px;
	font-family: "Lisu Tzimu", "Noto Sans Lisu WF", sans-serif;
	background-color: white;
	}

