@font-face {
    font-family: 'Noto Sans Malayalam WF';
    src: 	local ('Noto Sans Malayalam'),
    			url('/webfonts/NotoSansMalayalamUI-Regularwebfont.woff2') format('woff2'),
         	url('/webfonts/NotoSansMalayalamUI-Regularwebfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}

[lang|="ml"] {
	font-family: "Malayalam Sangam MN", "Malayalam MN", "Karthika", "Noto Sans Malayalam", "Thoolika Traditional Unicode", sans-serif;
	font-size: 24px;
}
#index td {
	font-family: "Malayalam Sangam MN", "Malayalam MN", "Karthika", "Noto Sans Malayalam", "Thoolika Traditional Unicode", sans-serif;
	font-size: 26px;
	padding: 16px;
	text-align: left;
}

#fontsetting { width: 270px; }
#fontsetting.open { right: 0px; }
#fontsetting.closed { right: -258px; }
#fontsettingswitch { height: 130px; }

.charimg {
	font-size: 130px;
	min-width: 190px;
	min-height: 190px;
	text-align: center;
	vertical-align: middle;
	line-height: 190px;
	font-family: "Malayalam Sangam MN", "Malayalam MN", "Karthika", "Noto Sans Malayalam", "Thoolika Traditional Unicode", sans-serif;
	background-color: white;
	}



